<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<form action="#" th:action="@{/visit/adding}" th:object="${visit}" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">Date</label> <input type="date" th:field="*{dateOfVisit}"/>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Description</label> <input type="text" th:field="*{description}"/>
    </div>
    <div>
        <label for="option-input">
            Pet
        </label>
        <input list="${animals}" id="option-input" />
        <datalist id="${animals}">
            <!-- you have to add your option elements inside of a select element for legacy reasons -->
            <select>
                <th:block th:each="animal : ${animals}">
                <option th:text="${animal.name}" />
                </th:block>
            </select>
        </datalist>

    </div>

    <button type="submit" class="btn btn-primary">Zapisz</button>
</form>
</body>
</html>